# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [1]:

import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     |████████████████████████████████| 43 kB 532 kB/s
     |████████████████████████████████| 11.9 MB 7.4 MB/s
  Building wheel for mysql-connector (setup.py) ... done
     |████████████████████████████████| 100 kB 4.7 MB/s


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [2]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [3]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). Usa la misma que en la práctica de ETL
nombreBD = 'EvaRivas'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@35.180.98.205/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [4]:
if not database_exists(engine.url):
    create_database(engine.url)

In [5]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL',con=engine)

In [6]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [18]:
query= "select distinct(LaunchSite) from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [30]:
query= "select distinct(`LaunchSite`) from SPACEXTBL WHERE LaunchSite like 'CCS%'"
df = pd.read_sql(query, con = engine)
df

     LaunchSite
0  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [46]:

query= "select Customers,sum(PayloadMass) from SPACEXTBL WHERE Customers = 'NASA (CRS)'"
df = pd.read_sql(query, con = engine)
df

    Customers  sum(PayloadMass)
0  NASA (CRS)           47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [47]:
query= "select Serial,AVG(PayloadMass) from SPACEXTBL WHERE Serial like 'B1%'"
df = pd.read_sql(query, con = engine)
df

  Serial  AVG(PayloadMass)
0  B1003       6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [49]:
query= "select min(Date),Class,LandingOutcome from SPACEXTBL WHERE LandingOutcome = 'True RTLS' and Class = 1"
df = pd.read_sql(query, con = engine)
df

    min(Date)  Class LandingOutcome
0  2015-12-22      1      True RTLS

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [50]:
query= "select Serial,PayloadMass,LandingOutcome from SPACEXTBL WHERE LandingOutcome = 'True ASDS' and PayloadMass between 4000 and 6000"
df = pd.read_sql(query, con = engine)
df

  Serial  PayloadMass LandingOutcome
0  B1022       4696.0      True ASDS
1  B1026       4600.0      True ASDS
2  B1021       5300.0      True ASDS
3  B1031       5200.0      True ASDS
4  B1046       5800.0      True ASDS
5  B1046       4000.0      True ASDS
6  B1059       5000.0      True ASDS

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [53]:
query= "select count(LaunchSite),Mission_Outcome from SPACEXTBL group by Mission_Outcome "
df = pd.read_sql(query, con = engine)
df

   count(LaunchSite)  Mission_Outcome
0                  2                0
1                 88                1

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [72]:
query= "select Serial,PayloadMass from SPACEXTBL Where PayloadMass = (select max(PayloadMass) from SPACEXTBL) "
df = pd.read_sql(query, con = engine)
df

   Serial  PayloadMass
0   B1048      15600.0
1   B1049      15600.0
2   B1051      15600.0
3   B1056      15600.0
4   B1048      15600.0
5   B1051      15600.0
6   B1049      15600.0
7   B1059      15600.0
8   B1049      15600.0
9   B1060      15600.0
10  B1058      15600.0
11  B1051      15600.0
12  B1060      15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [65]:
query= "select Date,Serial,LaunchSite,LandingOutcome from SPACEXTBL WHERE (LandingOutcome like 'False%' OR 'None%') and year(Date)=2015"
df = pd.read_sql(query, con = engine)
df

         Date Serial    LaunchSite LandingOutcome
0  2015-01-10  B1012  CCSFS SLC 40     False ASDS
1  2015-04-14  B1015  CCSFS SLC 40     False ASDS

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [82]:
query= "select count(Mission_Outcome),Date from SPACEXTBL where Date between '2010-06-04' and '2017-03-20' group by LandingOutcome order by count(Mission_Outcome) desc"
df = pd.read_sql(query, con = engine)
df

   count(Mission_Outcome)        Date
0                       9  2010-06-04
1                       5  2016-04-08
2                       4  2015-01-10
3                       3  2014-04-18
4                       3  2015-12-22
5                       2  2013-09-29
6                       2  2015-06-28